body {
  background-color: #eeeeee;
}
hr {
	border-style: dotted none none;
	border-width: 0.4rem;
	height: 5px;
	width: 5%;
	border-color: #23374d;
}
h1, h3 {
	color: #23374d;
}

.circular {
    border-radius: 25%;
}